/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "TTCommons";
    font-style: normal;
    font-weight: normal;
    src: url("./assets/fonts/TTCommons-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "TTCommons";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/TTCommons-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "TTCommons";
    font-style: normal;
    font-weight: bold;
    src: url("./assets/fonts/TTCommons-DemiBold.woff2") format("woff2");
  }
}
